.app,
.containers {
    width: 100%;
    height: 100%;
}

.containers {
    font-size: 10px;
    color: #FAC4B3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FAC4B3;
    text-align: center;
}